VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_TONCONNECT_MANIFEST_URL=https://frezyyf-oss.github.io/Allah/tonconnect-manifest.json
VITE_TWA_RETURN_URL=https://t.me/NftBatttleBot
VITE_PUBLIC_BASE=/Allah/
