BOT_TOKEN=
BOT_USERNAME=@NftBatttleBot
PUBLIC_WEBAPP_URL=https://frezyyf-oss.github.io/Allah
FRONTEND_DEV_URL=http://localhost:5173
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
TON_RECEIVER_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c
ROULETTE_SPIN_COST_TON=0.35
ADMIN_PANEL_TOKEN=
